<div class="form-contato">
  <form id="frm" onsubmit="return false">
    <h2>Entrar na lista</h2>

    <div class="input">
      <input required type="text" id="nome" name="nome" />
      <label>Nome</label>
      <span class="error"></span>
    </div>

    <div class="input">
      <input required type="email" id="email" name="email" />
      <label>Email</label>
      <span class="error"></span>
    </div>
    <div class="input">
      <input required type="date" id="data" name="data" />
      <label>Data</label>
      <span class="error"></span>
    </div>

    <div id="dropzone" class="dropzone"></div>

    <button type="submit">Enviar</button>
  </form>
</div>


