{% extends '@base/main.html.twig' %}

{% block content %}
  <h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat autem error, soluta, ut culpa veritatis aperiam cumque quas eius sint harum reprehenderit
    magni unde dolorem quos a quo ipsam quae!
  </h2>
  <h1>Será</h1>
{% endblock %}
