<div class="header">

  <input type="checkbox" id="check_menu">
  <header>
    <div class="area_esquerda">
      <h3>
        <label for="check_menu">
          <i class="fas fa-bars" id="btn_sidebar"></i>
        </label>
        <div class="empresa">
          <img src="/developer/src/images/logo.png" class="logotipo" alt="Logo">
          <span>Empresa</span>
        </div>
        <div class="area_direita ">
          <button class="btn_logout dropdown__button" onclick="toggleDropdown();"><i class="fas fa-user"></i><i class="fas fa-chevron-right setadrop"></i></button>
          <div class="dropdown__menu hide">
            <button id="logout" onclick="Logout();"><span><i class="fas fa-sign-out-alt"></i></span>Logout</button>
          </div>
        </div>
      </h3>
    </div>

  </header>
</div>

{% include "@base/sidenav.html.twig" %}
