<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block headStyle %}
  <link rel="stylesheet" href="/developer/src/css_admin/normalize.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/fontawesome-all.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/root.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/jquery-confirm.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/font.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/adm.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/navbar.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/modal.css" />
  {% endblock headStyle %}

  <title>{% block title %}Página Inicial{% endblock %}</title>
</head>

<body id="body">
  {% include('@base/header.html.twig') %}

  <div class="conteudo">
    <div id="loading" name="loading" class="loader"></div>
    <div id="conteudo" class="idConteudo">{% block content %} {% endblock %}</div>
  </div>

</body>
{% block script %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.0.4/swiper-bundle.min.js" integrity="sha512-0N/5ZOjfsh3niel+5dRD40HQkFOWaxoVzqMVAHnmAO2DC3nY/TFB7OYTaPRAFJ571IRS/XRsXGb2XyiFLFeu1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script language="JavaScript" src="/developer/src/js/fontawesome.min.js"></script>
<script language="JavaScript" src="/developer/src/js/funcoes.js"></script>
<script language="JavaScript" src="/developer/src/js/admin.js"></script>
{% endblock %}

</html>
