<div class="sidebar">
  <nav class="sidenav">
    <a href="{{rotaAdmConfig}}" title="Configurações"><i class="fas fa-cogs"></i><span>Configurações </span></a>
    <a href="#" title="Menu"><i class="fas fa-desktop"></i><span>Menu</span></a>
    <a href="#" title="Menu"><i class="fas fa-table"></i><span>Menu</span></a>
    <a href="#" title="Menu"><i class="fas fa-th"></i><span>Menu</span></a>
    <a href="#" title="Menu"><i class="fas fa-info-circle"></i><span>Menu</span></a>
    <a href="#" title="Menu"><i class="fas fa-sliders-h"></i><span>Menu</span></a>
  </nav>
</div>
