<footer class="footer">
  <div class="container-footer">
    <div class="imagem-footer">
      <img class="logo-footer" src="/developer/src/images/logo-rodape180x180.png" alt="Logo Rodapé" />
    </div>

    <div class="footer-informacoes">
      <div class="p1">Nosso Endereço</div>
      <div class="p2">enderecoCompleto</div>
      <div class="p3">
        <Span>Whatsapp: whatsapp - </Span>
        <Span>Telefone: telefone </Span>
      </div>
      <div class="p3">Siga nas redes sociais</div>
      <div class="footer-redes-sociais"></div>
      <div class="p4">Copyright ©Empório Trembão 2023</div>
    </div>

    <div class="footer-oversee">
      <a class="footer-logo-over" href="https://overseebrasil.com.br" target="_blank" rel="noreferrer">
        <img src="/developer/src/images/logo-oversee.png" width="46px" alt="" />
        <div class="textoOversee">
          Desenvolvido por
          <b> Oversee Tecnologia </b>
        </div>
      </a>
    </div>
  </div>
</footer>
