<section>
  <h2>Dados da loja física</h2>
</section>
<section>
  <div class="campos">
    <label for="endereco">Endereço <span>*</span></label>
    <input type="text" name="endereco" id="endereco" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="bairro">Bairro <span>*</span></label>
    <input type="text" name="bairro" id="bairro" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="cep">CEP <span>*</span></label>
    <input type="text" name="cep" id="cep" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="cidade">Cidade <span>*</span></label>
    <input type="text" name="cidade" id="cidade" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="estado">Estado <span>*</span></label>
    <input type="text" name="estado" id="estado" value="">
    <span class="error"></span>

  </div>
</section>

<section>
  <h2>Integração Loja</h2>
</section>
<section>
  <div class="campos">
    <label for="token_loja">Token Loja <span>*</span></label>
    <input type="text" name="token_loja" id="token_loja" value="">
    <span class="error"></span>

  </div>
</section>

<section>
  <h2>Redes Sociais</h2>
</section>
<section>
  <div class="campos">
    <label for="youtube">Youtube <span>*</span></label>
    <input type="text" name="youtube" id="youtube" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="instagram">Instagram <span>*</span></label>
    <input type="text" name="instagram" id="instagram" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="facebook">Facebook <span>*</span></label>
    <input type="text" name="facebook" id="facebook" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="twitter">Twitter <span>*</span></label>
    <input type="text" name="twitter" id="twitter" value="">
    <span class="error"></span>

  </div>
</section>

<section>
  <h2>Contato</h2>
</section>
<section>
  <div class="campos">
    <label for="titulo_contato">Título <span>*</span></label>
    <input type="text" name="titulo_contato" id="titulo_contato" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="subtitulo1_contato">Subtítulo <span>*</span></label>
    <input type="text" name="subtitulo1_contato" id="subtitulo1_contato" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="descricao1_contato">Descrição <span>*</span></label>
    <input type="text" name="descricao1_contato" id="descricao1_contato" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="subtitulo2_contato">Subtítulo 2 <span>*</span></label>
    <input type="text" name="subtitulo2_contato" id="subtitulo2_contato" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="descricao2_contato">Descrição 2 <span>*</span></label>
    <input type="text" name="descricao2_contato" id="descricao2_contato" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="whatsapp">Whatsapp <span>*</span></label>
    <input type="text" name="whatsapp" id="whatsapp" value="">
    <span class="error"></span>

  </div>
  <div class="campos">
    <label for="telefone">Telefone <span>*</span></label>
    <input type="text" name="telefone" id="telefone" value="">
    <span class="error"></span>

  </div>
</section>

<section>
  <h2>Localização</h2>
</section>
<section>
  <div class="campos">
    <label for="link_maps">Link Maps <span>*</span></label>
    <input type="text" name="link_maps" id="link_maps" value="">
    <span class="error"></span>

  </div>
</section>



<div class="opcoes">
  <button type="button" class="salvar" data-tooltip="Clique para salvar" onclick="envia_form_com_arquivo('loading', 'integracoes/alt.php', 'frm', 'img_principal', 'result');">Salvar</button>
</div>
