<dialog>
  <div class="modal-alert">
    <div class="modal-section">
      <div class="modal-header">
        <div class="titulo-modal"></div>
        <div class="espaco-modal"></div>
        <div class="opcoes">
          <button class="fechar-modal">X</button>
        </div>
      </div>
      <hr>
      <div class="modal-article">

      </div>
      <div class="modal-footer">
        <div class="opcoes">
          <button class="fechar-modal" id="fechaModal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</dialog>
