<dialog id="modalInput">
  <div class="modal-conteudo">
    <div class="modal-section">
      <div class="modal-header">
        <div class="titulo-modal titulo-modal-input"></div>
        <div class="espaco-modal"></div>
        <div class="opcoes">
          <button class="fechar-modal fechar-modal-input">X</button>
        </div>
      </div>
      <div class="modal-article article-modal-input">
        <form id="formModalInput" onsubmit="return false"></form>
      </div>
      <div class="texto-footer">
        <p>Deseja proceder?</p>
      </div>
      <div class="modal-footer">
        <div class="opcoes">
          <button class="fechar-modal fechar-modal-input">Cancelar</button>
        </div>
        <div class="opcoes">
          <button class="" id="confirmarModalInput">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</dialog>
