<dialog id="modalAlert">
  <div class="modal-conteudo">
    <div class="modal-section">
      <div class="modal-header">
        <div class="titulo-modal titulo-modal-alerta"></div>
        <div class="espaco-modal"></div>
        <div class="opcoes">
          <button class="fechar-modal fechar-modal-alerta">X</button>
        </div>
      </div>
      <hr>
      <div class="modal-article article-modal-alerta">

      </div>
      <div class="modal-footer">
        <div class="opcoes">
          <button class="fechar-modal fechar-modal-alerta">Ok</button>
        </div>
      </div>
    </div>
  </div>
</dialog>
