<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/developer/src/css_admin/normalize.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/fontawesome-all.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/root.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/jquery-confirm.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/font.css" />
  <link rel="stylesheet" href="/developer/src/css_admin/login.css" />
  <title>Login</title>
</head>

<body>

  <section id="section_login" class="login-area">
    <center>

      <form id="formLogin" method="post" onsubmit="return false">
        <div class="titulo">
          <h4>Área de Login</h4>
          <span class="error login-error"></span>
        </div>
        <div class="area-dados">
          <label for="login">Login <span>*</span></label>
          <input type="text" placeholder="Digite seu login " name="login" id="login" required>
          <span class="error"></span>
        </div>
        <div class="area-dados">
          <label for="password">Senha <span>*</span></label>
          <div class="senha">
            <div class="input_senha">
              <input type="password" placeholder="Digite sua senha" name="password" id="password" required>
              <span class="error"></span>
            </div>
            <button title="Exibir a senha" class="bulleyes" onclick="verSenha();"><i class="far fa-eye"></i></button>
          </div>
        </div>
        <footer>
          <button title="Efetuar Login" onclick="efetuarLogin();" class="btn-logar">Logar</button>
          <div class="esqueci-senha">
            <a href="#">esqueci minha senha </a>
          </div>
        </footer>
      </form>
    </center>
  </section>

  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script language="JavaScript" src="/developer/src/js/fontawesome.min.js"></script>
  <script language="JavaScript" src="/developer/src/js/funcoes.js"></script>

  <script>
    "use strict";
    const input = document.getElementById("password");
    const button = document.querySelector(".bulleyes");
    const btnEye = document.querySelector('.bulleyes i');
    button.addEventListener('click', togglePass);
    function verSenha() {
    }
    function togglePass() {
      if (input.type == "password") {
        input.type = "text";
      } else {
        input.type = "password";
      }
      toggleIcone()
    }

    function toggleIcone() {
      btnEye.classList.toggle('far');
      btnEye.classList.toggle('fa-eye');
      btnEye.classList.toggle('fas');
      btnEye.classList.toggle('fa-eye-slash');
    }

    function efetuarLogin() {

      let validar = validarForm("formLogin")
      if (validar) {
        var login = document.getElementById('login');
        var senha = document.getElementById('password');
        var error = document.querySelector('.login-error');
        var preparaDados = {
          "login": login.value,
          "senha": btoa(senha.value)
        }


        var hostnameHref = location.href;
        var urlLogar = hostnameHref.replace("login", "logar");
        $.ajax({
          type: "POST",
          data: preparaDados,
          url: urlLogar,
          beforeSend: (data) => {
            inserirLoading("section_login")
            login.value = ""
            senha.value = ""
          },
          success: function (data) {
            data = JSON.parse(data)
            removerLoading();
            if (data[0] != true) {
              error.innerHTML = data[1]
              //limpar campos e informar erro
            } else if (data[0] == true) {
              window.location.replace(data[1])

            } else {
              console.log("retorno inconsistente")
              console.log(data)
            }
          }
        });
      }
    }
  </script>
</body>

</html>
